<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sweet House</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">
       
        

</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

     
<!-- Navbar Start -->
<div class="container-fluid-1 sticky-top">
    <div class="container"> 
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <h1 class="text-black">
                    <img src="static/img/noBG.png" alt="" style="width: 80px; height: 70px;">

                    <span class="text-white" >Home Sweet House </span>
                </h1>
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse text">
                <div class="navbar-nav ms-auto">
                    <a href="{{ url_for('index') }}" class="nav-item nav-link active  text-black font-weight-bold border-white">Beranda</a>
                    <a href="{{ url_for('about') }}" class="nav-item nav-link  text-black font-weight-bold border-white">Tentang</a>
                    <div class="nav-item dropdown">
                        <a href="{{ url_for('event') }}" class="nav-item nav-link text-black font-weight-bold bor ">Servis</a>
                    </div>
                    <a href="{{ url_for('contact') }}" class="nav-item nav-link text-black font-weight-bold border-white">Kontak</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->





<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header mb-5">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-5 align-self-center text-center mb-lg-5">
                <img src="static/img/noBG2.png" style="width: 450px; ">
                <h1 class="display-8 text-white mb-6 animated slideInRight pipeline-title">Temukan Hunian Impian Anda</h1>
                <a href="{{ url_for('contact') }}" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Kontak Kami</a>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end position-relative">
                
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->



<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <!-- User-Generated Content (Preview Images) -->
                    <img class="safety img-fluid" src="static/img/rumah about us.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Tentang</div>
                <h1 class="mb-4">Temukan Rumah Impian Anda Bersama Kami</h1>
                <p class="mb-4">Selamat datang di Home Sweet House , solusi terdepan untuk mencari rumah impian  anda melalui kecerdasan buatan. Kami berkomitmen untuk memberdayakan operasional Anda dengan teknologi inovatif.</p>

                <p class="mb-4">Bersama kami, Anda akan menemukan rumah yang tidak hanya bagus, tetapi juga dapat disesuaikan dengan keuangan Anda. Tim kami yang berdedikasi akan bekerja erat dengan Anda untuk menciptakan transformasi yang berkelanjutan.</p>

                <div class="d-flex align-items-center mt-4">
                    <!-- Remove Read More Button -->
                    <!-- Remove Social Media Buttons -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-primary feature pt-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Kenapa Memilih Kami</div>
                <h1 class="text-white mb-4">Pilih Rumah Impian Anda dengan Artificial Intelligence</h1>
                <p class="text-light mb-4">Di dunia teknologi yang serba cepat, penerapan kecerdasan buatan bukan hanya sebuah pilihan, namun sebuah kebutuhan. Di Home sweet House, kami memberikan Anda keahlian dan pengalaman untuk menemukan rumah impian anda. Solusi khusus kami, rekam jejak yang terbukti, dan tim ahli kami berdedikasi untuk memastikan kesuksesan Anda</p>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Tim ahli berdedikasi untuk kesuksesan Anda</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Rekam jejak yang terbukti dari proyek-proyek yang sukses</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Solusi khusus untuk memenuhi kebutuhan rumah Anda</span>
                </div>
                <div class="row g-4 pt-3">
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-home fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">1320</h2>
                                <p class="text-white mb-0">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-home fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">14</h2>
                                <p class="text-white mb-0">Project Complete</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                <img class="gambar img-fluid" src="static/img/keluargaa.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->




    

   <!-- Our Team Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5 text-center">
        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Tim</div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="team-item bg-white text-center rounded p-4 pt-0">
                    <img class="img-fluid1 rounded-circle p-4" src="static/img/bene.JPG" alt="">
                    <h5 class="mb-0">Benedict Giovanni Atmaja</h5>
                    <small>All Role</small>
                    <!-- Social Media Buttons -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary m-1" href="https://www.facebook.com/benedict.g.atmaja"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary m-1" href="https://twitter.com/hhgdvbhf4563"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary m-1" href="https://www.instagram.com/dicky_atmadja/"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary m-1" href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAACy1l08B5cJLD0bL1WH5x0-PYj9bLPbf79Y&keywords=benedict%20giovanni%20atmaja&origin=RICH_QUERY_SUGGESTION&position=0&searchId=7743960a-9b18-4943-b2cd-2d606012ecf9&sid=4YI&spellCorrectionEnabled=false"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="team-item bg-white text-center rounded p-4 pt-0">
                    <img class="img-fluid1 rounded-circle p-4" src="static/img/foto.jpeg" alt="">
                    <h5 class="mb-0">Rafi Rhamadhany Wintana</h5>
                    <small>Data preprocessing & training</small>
                    <!-- Social Media Buttons -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="team-item bg-white text-center rounded p-4 pt-0">
                    <img class="img-fluid1 rounded-circle p-4" src="static/img/foto.jpeg" alt="">
                    <h5 class="mb-0">Desi Amabarwati</h5>
                    <small>Fullstack Developer</small>
                    <!-- Social Media Buttons -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="team-item bg-white text-center rounded p-4 pt-0">
                    <img class="img-fluid1 rounded-circle p-4" src="static/img/foto.jpeg" alt="">
                    <h5 class="mb-0">Muhammad Shidqii</h5>
                    <small>Model Evaluation</small>
                    <!-- Social Media Buttons -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="team-item bg-white text-center rounded p-4 pt-0">
                    <img class="img-fluid1 rounded-circle p-4" src="static/img/foto.jpeg" alt="">
                    <h5 class="mb-0">Aizal Irawan</h5>
                    <small>Data preprocessing & training<small>
                    <!-- Social Media Buttons -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary m-1" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Team End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="{{ url_for('index') }}" class="d-inline-block mb-3">
                        <h1 class="text-white">Home sweet House<span class="text-primary">.</span></h1>

                    </a>
                    <p class="mb-0">Home sweet house adalah solusi Kecerdasan Buatan canggih yang dirancang untuk meningkatkan dan menyederhanakan pencarian rumah . Dengan teknologi ini memberikan wawasan cerdas, analisis prediktif, dan kemampuan pengambilan keputusan otomatis. Temukan rumah impian Anda ke tingkat yang lebih tinggi dengan Home Sweet House.
                    </p>

                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Kunjungi Kami</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Indonesia</p>
                    <p><i class="fa fa-phone-alt me-3"></i>081312223034</p>
                    <p><i class="fa fa-envelope me-3"></i>homesweethouse@gmail.com</p>
                    <p><i class=" fa fa-youtube me-3"></i>link You Tube </p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">HomesweetHouse</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/main.js') }}"></script>
    <script>
        window.addEventListener('load', function () {
            var spinner = document.getElementById('spinner');
            if (spinner) {
                spinner.style.display = 'none';
            }
        });
    </script>
</body>



</html>